<div>
  <div>
    <div class="row">
      <div class="col-sm-6  shadow p-5">
        <div>
          <h3>Title...</h3>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <img style="max-width: 100%" src="../assets/images/image1.png">
          </div>
          <div class="col-sm-8">
            <p>
              With the above I changed the max-width to the dimensions of the content container that my image is in. In this case it is: container width - padding - boarder = max width
      
              This way my image won't break out of the containing div, and I can still float the image within the content div.
      
              I've tested in IE 9, FireFox 18.0.2 and Chrome 25.0.1364.97, Safari iOS and seems to work.
      
              Additional: I tested this on an image 1024px wide displayed at 678px (the max width), and an image 500px wide displayed at 500px (width of the image).
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6  shadow p-5">
        <div>
          <h3>Title...</h3>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <img style="max-width: 100%" src="../assets/images/image1.png">
          </div>
          <div class="col-sm-8">
            <p>
              With the above I changed the max-width to the dimensions of the content container that my image is in. In this case it is: container width - padding - boarder = max width
      
              This way my image won't break out of the containing div, and I can still float the image within the content div.
      
              I've tested in IE 9, FireFox 18.0.2 and Chrome 25.0.1364.97, Safari iOS and seems to work.
      
              Additional: I tested this on an image 1024px wide displayed at 678px (the max width), and an image 500px wide displayed at 500px (width of the image).
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>  
  <div>
    <div class="row">
      <div class="col-sm-6  shadow p-5">
        <div>
          <h3>Title...</h3>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <img style="max-width: 100%" src="../assets/images/image1.png">
          </div>
          <div class="col-sm-8">
            <p>
              With the above I changed the max-width to the dimensions of the content container that my image is in. In this case it is: container width - padding - boarder = max width
      
              This way my image won't break out of the containing div, and I can still float the image within the content div.
      
              I've tested in IE 9, FireFox 18.0.2 and Chrome 25.0.1364.97, Safari iOS and seems to work.
      
              Additional: I tested this on an image 1024px wide displayed at 678px (the max width), and an image 500px wide displayed at 500px (width of the image).
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6  shadow p-5">
        <div>
          <h3>Title...</h3>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <img style="max-width: 100%" src="../assets/images/image1.png">
          </div>
          <div class="col-sm-8">
            <p>
              With the above I changed the max-width to the dimensions of the content container that my image is in. In this case it is: container width - padding - boarder = max width
      
              This way my image won't break out of the containing div, and I can still float the image within the content div.
      
              I've tested in IE 9, FireFox 18.0.2 and Chrome 25.0.1364.97, Safari iOS and seems to work.
      
              Additional: I tested this on an image 1024px wide displayed at 678px (the max width), and an image 500px wide displayed at 500px (width of the image).
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>  
  <div>
    <div class="row">
      <div class="col-sm-6  shadow p-5">
        <div>
          <h3>Title...</h3>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <img style="max-width: 100%" src="../assets/images/image1.png">
          </div>
          <div class="col-sm-8">
            <p>
              With the above I changed the max-width to the dimensions of the content container that my image is in. In this case it is: container width - padding - boarder = max width
      
              This way my image won't break out of the containing div, and I can still float the image within the content div.
      
              I've tested in IE 9, FireFox 18.0.2 and Chrome 25.0.1364.97, Safari iOS and seems to work.
      
              Additional: I tested this on an image 1024px wide displayed at 678px (the max width), and an image 500px wide displayed at 500px (width of the image).
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6  shadow p-5">
        <div>
          <h3>Title...</h3>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <img style="max-width: 100%" src="../assets/images/image1.png">
          </div>
          <div class="col-sm-8">
            <p>
              With the above I changed the max-width to the dimensions of the content container that my image is in. In this case it is: container width - padding - boarder = max width
      
              This way my image won't break out of the containing div, and I can still float the image within the content div.
      
              I've tested in IE 9, FireFox 18.0.2 and Chrome 25.0.1364.97, Safari iOS and seems to work.
      
              Additional: I tested this on an image 1024px wide displayed at 678px (the max width), and an image 500px wide displayed at 500px (width of the image).
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>

